<div>
    <div>
        <nav id="quizNav">
            <table>
                <tr>
                    <td class="navQuestions" ng-repeat="question in quizQuestions">{{$index + 1}}</td>
                    <!--<td class="emptyTdInQuestNav" ng-repeat-end="">--------</td>-->
                </tr>
                <tr>
                    <td ng-repeat="question in quizQuestions">Q{{$index + 1}}</td>
                </tr>
            </table>
        </nav>

        <div id="questAndAnswer">
            <ul>
                <li>
                    <h2>Some question</h2>
                </li>
                <li>
                    <p>
                        <input type="radio"> Variant1
                    </p>
                </li>
                <li>
                    <p>
                        <input type="radio"> Variant2
                    </p>
                </li>
                <li>
                    <p>
                        <input type="radio"> Variant3
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <footer id="quizButtons">
        <table>
            <tr>
                <td>
                    <input type="button" value="&laquo Previous">
                </td>
                <td class="empty"></td>
                <td>
                    <input type="button" value="Next &raquo">
                </td>
                <td class="empty"></td>
                <td>
                    <input type="button" value="Finish" onclick="alert('You have just finished the quizz!')">
                </td>
                <td class="empty"></td>
            </tr>
        </table>
    </footer>
</div>

